<h1>Informazioni di emergenza</h1>
<script type="text/javascript">

function graphElementWithValues(values){

	risk_level = values["risk_level"] / 100.0 * 450;
	police = values["police"] / 100.0 * 450;
	firefighters = values["firefighters"] / 100.0 * 450;
	soldiers = values["soldiers"] / 100.0 * 500;
	civil_defence = values["civil_defence"] / 100.0 * 450;
	ambulance = values["ambulance"] / 100.0 * 450;

	var graph = '<div id="city_id" class="city_graph">\
					<div class="risk_level bar" style="width: ' + risk_level + 'px"></div>\
					<div class="police needed_res_bar bar" style="width: ' + police + 'px"></div>\
					<div class="firefighters needed_res_bar bar" style="width: ' + firefighters + 'px"></div>\
					<div class="soldiers needed_res_bar bar" style="width: ' + soldiers + 'px"></div>\
					<div class="ambulance needed_res_bar bar" style="width: ' + ambulance + 'px"></div>\
					<div class="civil_defence needed_res_bar bar" style="width: ' + civil_defence + 'px"></div>\
				</div>';

	return graph;

}
function loadInfo(){
    $.getJSON("http://nostradamus-whymca.appspot.com/get_all_cameras?callback=?", function(json){
		for (var i = 0; i < json.length; i++) {
			values = [];
			values['risk_level'] = json.risk_level
			values['police'] = json.police;
			values['firefighters'] = json.firefighters;
			values['soldiers'] = json.soldiers;
			values['ambulance'] = json.ambulance;
			values['civil_defence'] = json.civil_defence;

			$("#infos").append("<div class='city_info' id='"+ json[i].id + "'>" + graphElementWithValues(values) + "</div>");
		}
	});
}

$(document).ready(function(){
	loadInfo();
})
</script>

<div id="infos">
</div>