<div id="camera" onload="play($(this).parent().attr('cameraID'))">
	<center><div id="faces"></div></center>
	<%= image_tag "loading.gif" %>
</div>

<center><span class="submitButton" onclick="play($(this).parent().parent().attr('cameraID'));">PLAY</span>    <span class="submitButton" onclick="stop()">STOP</span></center>

<script type="text/javascript">
 
</script>