<div id="camera" onload="play($(this).parent().attr('cameraID'))">
	<center><div id="faces"></div></center>
	<%= image_tag "loading.gif" %>
</div>

<span onclick="play($(this).parent().attr('cameraID'))">PLAY</span>    <span onclick="stop()">STOP</span>

<script type="text/javascript">
 
</script>