<div id="camera">
	<img src="http://judaspriest.com/photo/Nostradamus/AlbumCover/NostradamusAlbumCover400.jpg" />
</div>

<span onclick="play($(this).parent().attr('cameraID'))">PLAY</span>    <span onclick="stop()">STOP</span>

<script type="text/javascript">
 
</script>