<div id="camera" onload="play($(this).parent().attr('cameraID'))">
	<center><div id="faces"></div></center>
	<img src="http://th09.deviantart.net/fs71/PRE/f/2010/122/a/8/Loading____Please_Wait_by_Cyanide_Cloud.png" />
</div>

<span onclick="play($(this).parent().attr('cameraID'))">PLAY</span>    <span onclick="stop()">STOP</span>

<script type="text/javascript">
 
</script>