<div id="camera">
	<img src="http://judaspriest.com/photo/Nostradamus/AlbumCover/NostradamusAlbumCover400.jpg" />
</div>

<span onclick="setPlay(true)">PLAY</span>    <span onclick="setPlay(false)">STOP</span>

<script type="text/javascript">
$(document).ready(function(){
	setPlay(true);
});
</script>