/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

.submitButton {
	border: 1px solid black;
	margin-top: 10px;
	background-color: white;
	padding: 5px;
	cursor:hand;
}

/*.ui-dialog {
	left: 230px !important;
	top: 70px !important;
	position: absolute;
}*/

#dialog {
	width: 790px;
}

#header center img {
	margin-top:0px !important;
}

.title {
	color: #fa1515;
}

body {
	background-color: #f1efef !important;
	font-family: 'Glegoo', serif;
}

.textfield_effect {
/*we will first set the border styles.*/
border-width: 1px;
border-style: solid;
border-color: #999999;
/*we are now going to add in the shadow image that we created earlier*/
background-image: url(back_field.gif);
background-repeat: repeat-x;
/*I am going to add some text formatting of my own*/
font-family: Arial, Helvetica, sans-serif;
font-size: 12px;
color: #333333;
width: 200px;
height: 15px;
}
/*we are now going to style how the textfield will look when we
hover over it and when we actually have it selected*/
.textfield_effect:hover {
border-color: #64acd8;
border-width: 1px;
}
.textfield_effect:focus {
border-color: #64acd8;
border-width: 1px;
}