// Place all the styles related to the emergency controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.city_graph {
	width: 450px;
}

.city_info {
	width: 500px;
}


.bar {
	margin-top: 5px;
	height: 10px;
	border: 1px solid black; 
}

.risk_level {
	height: 50px;
	background-color: red;
}

.police {
	background-color: blue;
}

.firefighters {
	background-color: #FF6600;
}

.civil_defence {
	background-color: #0066CC;
}

.soldiers {
	background-color: #003300;
}

.ambulance {
	background-color: yellow;
}