// Place all the styles related to the emergency controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.city_graph {
	width: 440px;
}

.city_graph img {
	display: inline-block;
	margin: 0;
}

.city_info {
	width: 450px;
}


.bar {
	margin-top: 5px;
	margin-bottom: 7px;
	margin-left: 10px;
	display: inline-block;
	height: 17px;
	border: 1px solid black;
	text-indent: 5px;
}

.bar text {
	margin-left: 10px;	
}

.risk_level {
	height: 50px;
	background-color: red;
}

.police {
	background-color: blue;
	color: white;
}

.firefighters {
	background-color: #FF6600;
}

.civil_defence {
	background-color: #0066CC;
}

.soldiers {
	background-color: #003300;
	color: white;
}

.ambulance {
	background-color: yellow;
}