<ul class="vertical_menu">
	<li class="red">Strutture ed edifici
		<ul class="submenu">
			<li class="grey"><%= link_to 'Visualizza edifici', building_index_path %>
			<li class="grey"><%= link_to 'Aggiungi edificio', building_new_path %>
		</ul>
	</li>
	<li class="red"><%= link_to 'Emergenza', emergency_index_path %></li>
</ul>