<ul class="vertical_menu">
	<li>Strutture ed edifici
		<ul>
			<li><%= link_to 'Visualizza edifici', building_index_path %>
			<li><%= link_to 'Aggiungi edificio', building_new_path %>
		</ul>
	</li>
	<li><%= link_to 'Emergenza', emergency_index_path %></li>
</ul>